<div class='container'>
  <div *ngIf=!showSurvey class='center' (click)="openCard()" (wheel)="openCard()">
    <img [@card]="moveLetter ? 'open' : 'closed'" class="image card center" src="../../assets/card.png">
    <div [@envelope]="moveLetter ? 'open' : 'closed'" class='envelope action center'>      
      <img class="image front" src="../../assets/envelope_front-01.png">
      <img class="image back" src="../../assets/envelope_back-01.png">
      <img id=top [@envelopeTop]="openLetter ? 'open' : 'closed'" class="image top" src="../../assets/envelope_top-01.png">
    </div>
  </div>
  <div *ngIf="showButton && !showSurvey" class="center nextbutton">
    <button (click)="hotelBlock()" mat-raised-button>Hotel Block?</button>
  </div>
  <div *ngIf=showSurvey>
    <iframe class="center survey" src="https://docs.google.com/forms/d/e/1FAIpQLScbqYlAo0UVWURoIiOV3HRJo7lhE1-75VNJ8xvXwAywiiCqDQ/viewform?embedded=true">Loading…</iframe>
  </div>
  <div *ngIf="showButton && !showSurvey" class="center calendarlink">
    <a mat-raised-button href="https://calendar.google.com/calendar/event?action=TEMPLATE&tmeid=MzEyZ2lqMG91dTJyMjdsMWprczhtb3ZtZWEgODZjYmY1ZGVjNzY3Y2E5MjM2YjhhMDFlNDQ2ODJhMTk2OTVlZGZiY2E3Zjc4NjgzMzJhYWQ5YjY3YzFjZTdmOEBn&tmsrc=86cbf5dec767ca9236b8a01e44682a19695edfbca7f7868332aad9b67c1ce7f8%40group.calendar.google.com" style="text-decoration:none">Calendar Invite</a>
  </div>
</div>